<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- Det som läggs till i body visas på samtliga sidor i views -->
  <body>
    <!-- Navigeringsbar, som visas på varje sida -->
    <%= render 'layouts/navigation' %>
    <!-- Hämtning/visning av flash-meddelanden -->
    <%= render 'layouts/messages' %>

    <!-- Lägger alla sidor i en kontainer -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- Footer som visas på varje sida -->
    <%= render 'layouts/footer' %>

    <!-- Visar debugging i vyn -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
